.heading{
    text-align: center;
    margin-top: 20px;
    padding: 1%;
    text-decoration: underline;
    border-radius: 30px;
    background-color: indianred;
    height: 50px;
}
td a {
    color: rgb(79, 14, 109);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
    background-color: antiquewhite;
}

.div-design{
    text-align: center;
    margin-top: 20px;
    border: 50px;
    border-width: 100px;
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(215, 197, 233);
    width: auto;
    /* padding-left: 300px; */
    padding-top: 50px;
    height: 400px;
    position: relative; 
    font-size: 2vw;
    margin-left: 20px;
    margin-right: 20px;
    
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
table {
    align-items: center;
    font-size: 2vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif' ;
    width: 50%;
    height: 80%;
    border: 1px solid rgb(95, 14, 187);
}  
th , td {
    border: 1px solid rgb(95, 14, 187);
    border-collapse: collapse;
} 
.delete_form{
    height:100px;
    width:800px;
    border-radius: 30px;
    border-color: rgb(5, 0, 10);
    background-color: rgb(183, 171, 196); 
} 
.button{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    /* padding-left: 300px; */
    width: auto;
    height: 50px;
    padding-top: 50px;
    background-color: rgb(210, 166, 228);
    font-size: 2vw;
    text-align: center;
    border-radius: 30px;
}